.buzon {
    background: #861F21;
}

.buzon__wrapper {
    background: #861F21;
    max-width: 1440px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 35px;
}


.input_container button {
    background: #861F21;
    border: 1px solid #ffffff;
    padding: 14px 45px;
    cursor: pointer;
    border-radius: 50px;
    font-family: quicksand;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    flex-grow: 0.1;
}

.buzon__wrapper h2 {
    color: #ffffff;
    font-family: quicksand;
    font-size: 38px;
    font-weight: 700;
    margin-top: 30px;
}

.input_container {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #861F21;
    align-items: center;
    border-radius: 25px;
    padding: 15px 0px;
}

.input_container input {
    border: none;
    border-bottom: 1px solid #ffffff ;
    background: none;
    padding-bottom: 10px;
    outline: none;
    font-size: 1rem;
    color: #ffffff;
    font-family: open sans;
    font-weight: 300;
    width: 100%;
    font-size: 20px ;
}

.input_container input::placeholder {
    color: #ffffff;
}

.input_container img {
    margin-left: auto;
}

@media (max-width: 600px) {

    .buzon__wrapper img {
        display: none;
    }

    .buzon__wrapper {
        display: flex;
    }

    .buzon__wrapper h2 {
        width: 100%;
        font-size: 28px;
        font-weight: 700;
        font-family: quicksand;
        line-height: 36px;
    }

    .input_container {
        display: block;
    }

    .input_container button {
        width: 100%;
        margin-top: 30px;
        border: 2px solid;
        font-size: 16px;
    }
}