.events {
    background: #FFFFFF;
}

.events__wrapper {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
}

.events__wrapper>div:nth-child(3) {
    text-align: center;
    margin-top: 65px;
}

.button__moreEvents button {
    padding: 12px 65px;
    cursor: pointer;
    border: 2px solid #007FA4;
    background: #ffffff;
    border-radius: 30px;
    color: #007FA4;
    font-family: quicksand;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 50px;
}


.events h2 {
    padding: 50px 0px 25px 0px;
    color: #212121;
}

.events>div:nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    font-family: quicksand;
}

.boxlarge {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 32px;
}

.boxlarge a {
    font-family: open sans;
    display: flex;
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    color: #a3abcc;
}

.boxlarge>div a>div:nth-child(1) {
    background: #ffffff;
    border: 1px solid rgba(175, 175, 175, 0.25);
    box-shadow: 0px 1px 8px rgba(0, 127, 164, 0.1), 0px 8px 16px rgba(163, 171, 204, 0.18);
    border-radius: 15px;
}

.boxlarge>div a>div:nth-child(1)>div:nth-child(1) {
    width: 100%;
    height: 230px;
    position: relative;
}

.heart img {
    width: 30px;
}

.heart {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 20px;
    border-radius: 100%;
    display: flex;
    padding: 7px !important;
    background: rgba(255, 255, 255, 0.7);
}


.boxlarge img {
    width: 100%;
    object-fit: fill;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.boxlarge h3 {
    font-family: quicksand;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 10px;
}

.boxlarge h5 {
    font-family: open sans;
    font-size: 13px;
    font-weight: 400;
    color: #5c6570;
}

.boxlarge strong {
    font-family: open sans;
    font-size: 10px;
    font-weight: 700;
    color: #212121;
}

.boxlarge span {
    font-size: 12px;
    font-family: open sans;
    font-weight: 700;
    color: #4a4a4a;
}

.boxlarge h4 {
    font-size: 20px;
    font-family: open sans;
    font-weight: 700;
    color: #212121;
}

.boxlarge h6 {
    font-size: 11px;
    font-family: open sans;
    font-weight: 400;
    color: #bc0000;
}

.boxlarge>div>div {
    width: 100%;
}

.boxlarge h3 {
    white-space: nowrap;
    overflow: hidden;
    width: 280px;
    text-overflow: ellipsis;
    position: relative;
}

.boxlarge>div a>div:nth-child(1) div:nth-child(2) {
    padding: 15px 15px 7px 15px;
}

.boxlarge>div a>div:nth-child(1) div:nth-child(3) {
    padding: 0px 0px 25px 15px;
}

@media screen and (max-width: 1440px) {
    .boxlarge {
        grid-template-columns: repeat(3, 1fr);
    }

    .boxlarge>div,
    .boxlarge>div div:nth-child(1) {
        width: 100% !important;
    }
    .boxlarge h3 {
        white-space: nowrap;
        overflow: hidden;
        width: 330px;
        text-overflow: ellipsis;
        position: relative;
    }
}

@media screen and (max-width: 1180px) {
    .boxlarge {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 998px) {

    .events__wrapper h2 {
        text-align: start;
        font-size: 28px;
        font-family: quicksand;
        font-weight: 700;
        color: #444444;
        padding-top: 30px;
        padding-bottom: 35px;
    }

    .boxlarge {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .boxlarge>div {
        width: 100%;
        gap: 32px;
    }

    .boxlarge>div>div>div:nth-child(3) h6 {
        display: none;
    }

    .button__moreEvents button {
        width: 100%;
        padding: 16px 25px;
    }
}

@media (max-width: 600px) {

    .events__wrapper h2 {
        text-align: start;
        font-size: 28px;
        font-family: quicksand;
        font-weight: 700;
        color: #444444;
        padding-top: 30px;
        padding-bottom: 35px;
    }

    .boxlarge>div {
        grid-column: 1/5;
        width: 100%;
        gap: 32px;
    }

    .boxlarge>div>div>div:nth-child(3) h6 {
        display: none;
    }

    .button__moreEvents button {
        width: 100%;
        padding: 16px 25px;
    }

    .boxlarge>div {
        grid-column: 1/3;
    }

    .boxlarge>div a {
        width: 100%;
        margin-top: 12px;
    }

    .content__event {
        width: 100%;
    }

    .boxlarge a {
        padding: 0;
    }

    .boxlarge h3 {
        font-size: 17px !important;
        text-overflow: initial;
        overflow: inherit !important;
        white-space: inherit !important;
        width: 100% !important;
    }
}