.date {
    padding: 20px;
}

.date__wrapper h2 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 17px;
    color: #212121;
    border-bottom: 1px solid #EDEFF5;
}

.date__table table {
    margin-top: 30px;
    border-collapse: collapse;
}

.date__table table thead td {
    color: #A3ABCC;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 20px;
}

.event__see {
    color: #BC0000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding-right: 50px;
}

.button__close {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.closeModal {
    background: #007FA4;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 15px 45px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: 30px;
}

.mount {
    font-weight: 600;
}

.date__table table thead tr {
    border-bottom: 1px solid #EDEFF5;
}

.date__table  table tbody tr {
    border-bottom: 1px solid #EDEFF5;
}

.date__table  tbody tr td div {
    margin-bottom: 30px;
}

.date__hour {
    margin-top: 50px;
    padding-right: 20px;
}

.date__table {
    height: 500px !important;
    overflow: auto;
}

.date__table table tbody {
    height: 100px !important;
}

.date__table table tbody tr td div {
    margin-top: 0px;
}

.date__table  tbody p {
    font-weight: 600;
}