.loading__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #BC0000;  /* Color de la barra de carga */
    animation: loading 2s linear infinite;
}

.loading__wrapper {
    text-align: center;
}

.loading__wrapper img {
    width: 100px;
}

.loading__wrapper h3 {
    color: #BC0000;
    margin-top: 20px;
    margin-bottom: 10px;
}

.loading__wrapper p {
    font-weight: 600;
    width: 360px;
}



@keyframes loading {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}