
.section > div:nth-child(1) {
    grid-column: 1/9;
    margin-top: 48px;
}

.section > div:nth-child(1) img {
    width: 100%;
    background: linear-gradient(#932022, #000000);
}

.section > div:nth-child(2) {
    grid-column: 9/13;
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
}

.section > div:nth-child(2) > :nth-child(1) {
    grid-gap: 0px 30px;
    position: relative;
    z-index: 0;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    display: grid;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(5)  {
    grid-column: 7/13;
    display: flex;
    gap: 3px;
}

.section > div:nth-child(3) {
    grid-column: 1/2;
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section > div:nth-child(3) h4 {
    font-family: open sans;
    font-weight: 700;
    font-size: 10px;
    color: #a3abcc;
    line-height: 16px;
}

.section > div img {
    position: relative;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(1) {
    grid-column: 1/7;
    grid-row: 1/7;
    display: grid;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: repeat(12,1fr);
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(2) {
    grid-column: 7/13;
    grid-row: 1/7;
    display: grid;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: repeat(12,1fr);
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(3) {
    grid-column: 1/7;
    grid-row: 7/13;
    display: grid;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: repeat(12,1fr);
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(4) {
    grid-column: 7/13;
    grid-row: 7/13;
    display: grid;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: repeat(12,1fr);
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    grid-column: 6/24;
    border-radius: 5px;
    grid-row: 1/7;
    background: #861F21;
    text-align: center;
    align-content: center;
    border: 1px solid #861F21;
    z-index: 2;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    grid-column: 5/25;
    border-radius: 5px;
    grid-row: 6/13;
    padding-left: 16px;
    padding-top: 25px;
    background: #F6F6F6;
    z-index: 1;
    margin: 0;
    height: 80px;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    grid-column: 6/25;
    grid-row: 1/7;
    border-radius: 5px;
    background: #861F21;
    text-align: center;
    align-content: center;
    border: 1px solid #861F21;
    z-index: 2;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    grid-column: 5/26;
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 25px;
    grid-row: 6/13;
    background: #F6F6F6;
    z-index: 1;
    height: 80px;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(3) > div:nth-child(1) {
    grid-column: 6/24;
    grid-row: 1/7;
    border-radius: 5px;
    background: #861F21;
    text-align: center;
    align-content: center;
    border: 1px solid #861F21;
    z-index: 2;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(3) > div:nth-child(2) {
    grid-column: 5/25;
    border-radius: 5px;
    grid-row: 6/13;
    padding-left: 16px;
    padding-top: 25px;
    background: #F6F6F6;
    z-index: 1;
    height: 80px;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(4) > div:nth-child(1) {
    grid-column: 6/25;
    grid-row: 1/7;
    border-radius: 5px;
    background: #861F21;
    text-align: center;
    align-content: center;
    border: 1px solid #861F21;
    z-index: 2;
}

.section > div:nth-child(2) > :nth-child(1) > div:nth-child(4) > div:nth-child(2) {
    grid-column: 5/26;
    border-radius: 5px;
    grid-row: 6/13;
    padding-left: 16px;
    padding-top: 25px;
    background: #F6F6F6;
    z-index: 1;
    height: 80px;
}

.content__slideImg {
    height: 100%;
    width: 100%;
}

.content__slideImg img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.content__info {
    position: absolute;
    bottom: 100px;
    display: flex;
    align-items: center;
    left: 50px;
    justify-content: flex-end;
}

.content__info > div h4 {
    background: rgb(132, 31, 33, 0.8);
    width: fit-content;
    color: #fff;
    font-size: 32px;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 0px;
}

.content__info > div > div {
    background: rgb(132, 31, 33, 0.8);
    width: fit-content;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.content__info a {
    background: rgb(132, 31, 33, 0.8);
    width: fit-content;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
    z-index: 3;
    font-size: 13px;
    top: 7px;
    border-top-left-radius: 0px;
    text-decoration: none;
}

.blueArrow , .blueGray {
    top: 0px !important;
    position: relative !important;
}

.date__format > div:nth-child(1) {
    width: 60px;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.date__format > div:nth-child(1) > div {
    display: block;
}

.linkall a {
    text-decoration: none;
    display: flex;
}

.fuent {
    font-family: open sans;
    display: flex;
    font-size: 10px;
    position: absolute;
    bottom: -20px;
    z-index: 99999;
    font-weight: 700;
    text-decoration: none;
    color: #a3abcc;
    padding: 5px 0px 0px 10px;
}

@media screen and (max-width: 600px) {
    .slider__wrapper {
        grid-column: 1/13 !important;
        margin-top: 0px !important;
    }
    .section {
        padding: 0;
    }
    .categories {
        grid-column: 1/13 !important;
        justify-content: flex-start !important;
    }
    .section > div:nth-child(2) > :nth-child(1) {
        grid-gap: 20px 0px !important;
    }
    .section > div:nth-child(2) > :nth-child(1) > div:nth-child(5) h4 {
        margin-top: 20px;
        font-size: 12px;
    }
    .blueArrow {
        top: 10px !important;
    }
    .content__info {
        left: 0;
    }
}

@media screen and (max-width: 412px) {
    .categories {
        grid-column: 1/13 !important;
        justify-content: flex-start !important;
        max-width: 90%;
    }
}