.auth {
    padding: 30px 50px 0px 50px;
}

.closeModal {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.form__select__password {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
    align-items: center;
}

.form__select__password select , .grid__form select {
    width: 100%;
    margin-top: 10px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-family: 'Quicksand';
    padding: 0px 10px;
    font-weight: 800;
    font-size: 15px;
    background: #F7F7F7;
    border: 1px solid #a8a8a8;
}

.terms {
    margin-bottom: 25px;
}

.auth__form {
    padding: 20px 50px;
}
.auth__form > div {
    margin-bottom: 30px;
}

.auth__form input {
    width: 100%;
    margin-top: 10px;
    height: 50px;
    border-radius: 4px;
    border: none;
    padding: 0px 10px;
    font-weight: 800;
    font-size: 15px;
    background: #F7F7F7;
    border: 1px solid #a8a8a8;
}

.auth__form input:focus {
    border: 2px solid #a8a8a8 !important;
}

.auth__form button {
    width: 100%;
}

.noChange {
    text-align: center;
    margin-top: 30px;
}

.noChange span {
    color: #007FA4;
    font-weight: 800;
    cursor: pointer;
}

.grid__form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin-top: 15px;
}

.auth button {
    padding: 12px 65px;
    border: 2px solid #007FA4;
    background: #ffffff;
    border-radius: 30px;
    color: #007FA4;
    font-family: quicksand;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    /* .modalAuth {
    
    } */
    .auth {
        padding: 20px 0px;
    }
    .auth__form {
        margin-top: 0px;
        padding-top: 0px;
    }
    .auth__wrapper > div:nth-child(1) {
        margin: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .closeModal {
        top: 50px !important;
    }
}