.card {
    background: #FAFBFF;
}

.card__wrapper {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
}

.card h2 {
    padding: 50px 0px 25px 0px;
    color: #212121;
}

.card>div:nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    font-family: quicksand;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 32px;
    width: 100%;
}

.box>div {
    width: 100%;
}

.box a {
    font-family: open sans;
    display: flex;
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    color: #a3abcc;
}

.body__event {
    padding: 25px;
}

.body__event h3 {
    margin-top: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 390px;
    text-overflow: ellipsis;
    position: relative;
}

.image_event {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    width: 100%;
}

.box a>div:nth-child(1) {
    background: #ffffff;
    border: 1px solid rgba(175, 175, 175, 0.25);
    border-radius: 15px;
    box-shadow: 0px 1px 8px rgba(0, 127, 164, 0.1), 0px 8px 16px rgba(163, 171, 204, 0.18);
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-position: 0px 0px;
}

.box h3 {
    font-family: quicksand;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box h5 {
    font-family: open sans;
    font-size: 13px;
    font-weight: 400;
    color: #5c6570;
}

.box strong {
    font-family: open sans;
    font-size: 10px;
    font-weight: 700;
    color: #212121;
}

.box span {
    font-size: 12px;
    font-family: open sans;
    font-weight: 700;
    color: #4a4a4a;
}

.box h4 {
    font-size: 20px;
    font-family: open sans;
    font-weight: 700;
    color: #212121;
}

.box a>div:nth-child(1) {
    width: 100%;
}

.box h6 {
    font-size: 11px;
    font-family: open sans;
    font-weight: 400;
    color: #bc0000;
}

.box a>div:nth-child(1)>div>div>div:nth-child(2) {
    padding: 6px 15px 0px 18px;
}

.box a>div:nth-child(1)>div>div>div:nth-child(3) {
    padding: 0px 0px 25px 18px;
}

.image_event {
    position: relative;
}

.heart img {
    width: 30px;
}

.heart {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 20px;
    border-radius: 100%;
    display: flex;
    padding: 7px;
    background: rgba(255, 255, 255, 0.7);
}

.important {
    position: absolute;
    background: #027FA4;
    bottom: -11px;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    left: 20px;
}

.button__more {
    margin-bottom: 30px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    display: none;
}

.button__more button {
    padding: 12px 10px;
    width: 100%;
    border: 2px solid #007FA4;
    background: #ffffff;
    border-radius: 30px;
    color: #007FA4;
    font-family: quicksand;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 50px;
    cursor: pointer;
}

.box {
    margin-bottom: 0px;
}



@media screen and (max-width: 998px) {

    .card__wrapper h2 {
        text-align: start;
        font-size: 28px;
        font-family: quicksand;
        font-weight: 700;
        color: #444444;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 32px;
        width: 100%;
    }

    .box>div {
        gap: 32px;
    }

    .box>div>div>div:nth-child(3) h6 {
        display: none;
    }

    .button__more {
        display: block;
        text-align: center;
        margin-top: 40px;
        width: 100%;
    }


    @media (max-width: 600px) {

        .card__wrapper h2 {
            text-align: start;
            font-size: 28px;
            font-family: quicksand;
            font-weight: 700;
            color: #444444;
        }

        .box>div {
            grid-column: 1/4;
            gap: 32px;
        }

        .box>div>div>div:nth-child(3) h6 {
            display: none;
        }

        .button__more {
            display: block;
            text-align: center;
            margin-top: 40px;
            width: 100%;
        }
    }
}